.login {
  min-height: 200px;
  min-width: 300px;
  background: #ffffff;
  padding: 20px;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 500px;
  align-items: center;
}

.login__form h2 {
  color: #e4067e;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 3px;
}

.login__form span {
  margin-top: 300px;
  color: #e4067e;
  position: fixed;
}

.login__input input {
  padding: 5px;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #9396b0;
  background: none;
  outline: none;
}

.login__input button {
  background-color: #e4067e;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
}

.login__input button:hover {
  transition: 100ms;
  background-color: #aa1352;
  transform: scale(0.95);
}

.login__input button:disabled {
  background-color: #dadae4;
  cursor: not-allowed;
}
