.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.settings__container {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 40%;
}

.settings__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__header h2 {
  color: #e4067e;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 3px;
}

.settings__icon {
  color: #342b60;
  font-size: 30px !important;
}

.settings__icon:hover {
  cursor: pointer;
  color: #e4067e;
  transition: 100ms;
  transform: scale(0.95);
}

.settings__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings__label {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 20px;
  color: #342b60;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}

.settings__input {
  padding: 8px 10px;
  border: none;
  border-bottom: 1px solid #9396b0;
  background: none;
  outline: none;
}

.settings__container button {
  margin-top: 30px;
  background-color: #342b60;
  padding: 15px;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
}

.settings__container button:hover {
  transition: 100ms;
  background-color: #aa1352;
  transform: scale(0.95);
}

.message {
  margin-top: 10px;
  color: #e4067e;
  text-align: left;
}

.settings__iconSmall {
  margin-left: 10px;
  color: #342b60;
  font-size: 16px !important;
}

.settings__iconSmall:hover {
  color: #e4067e;
  transition: 200ms;
}
